body {
    overflow: hidden;
}

.container {
    position: relative;
    margin-top: 5%;
    width: 1200px;
    height: 625px;
    border-radius: 4px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.bg {
    position: absolute;
    right: -180px;
    top: -200px;
    width: 40vw;
    height: 40vw;
}

.bg_bk {
    position: absolute;
    right: -180px;
    top: -200px;
    width: 40vw;
    height: 40vw;
}
